body {
    margin: 10px;
    padding: 3%;
    color: black;
    /*font-family: 'Titillium Web', sans-serif;*/
}
/**/
h4 {
    color: crimson;
}

/**--------- Additional Responsive Style Start -----------*/

.message {
    min-height: 56px;
    padding: 10px 10px 10px 50px;
    border: solid 1px #4078c0;
    border-radius: 3px;
}

.dashboard-notice {
    position: relative;
    padding: 15px 15px 15px 55px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #fafafa;
    border: solid 1px #d8d8d8;
    border-radius: 3px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


/*==================================================
 * left tab
 * ===============================================*/

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border: none;
}

.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}

    .tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
        float: none;
    }

        .tabs-left > .nav-tabs > li > a {
            margin-right: -1px;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

        .tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
            min-width: 74px;
            margin-right: 0;
            margin-bottom: 3px;
            background-color: #536779;
            color: white;
        }

    .tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        background-color: #fff;
        color: dimgrey;
        border: none;
    }

.left-tab-process .tab-content {
    background-color: #fff;
    margin-left: 131px;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}

.book-process-ltab {
    max-width: 131px;
}

.left-tab-process .tab-pane {
    padding: 13px 11px;
    min-height: 442px;
}

.left-tab-process h4 {
    color: #536779;
}

.term-fa {
    margin-right: 7px;
    font-size: 11px;
    margin-left: -18px;
    color: #2EA72F;
}

.tac-content {
    background-color: #ccc;
}








/*==================================================
 * left tab
 * ===============================================*/

@media (max-width: 768px) {
    .tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
        width: 95px;
        margin-right: 0;
        padding: 5px 8px;
        font-size: 12px;
        margin-bottom: 3px;
        background-color: #536779;
        color: white;
    }

    .left-tab-process .tab-pane {
        padding: 13px 11px;
        min-height: 335px;
    }

    .left-tab-process .tab-content {
        background-color: #F1F1F1;
        margin-left: 95px;
    }
}
