@using Hydra.Models;
<div class="tabbable tabs-left left-tab-process" style="margin-bottom: 25px;" />

<ul class="nav nav-tabs book-process-ltab text-center">
    <li class="active">
        <a href="#a" data-toggle="tab">Managers</a>
    </li>
    <li class="">
        <a href="#b" data-toggle="tab">Analytics</a>
    </li>
    <li class="">
        <a href="#c" data-toggle="tab">Docks</a>
    </li>
    <li class="">
        <a href="#d" data-toggle="tab">Search</a>
    </li>
    <li class="">
        <a href="#e" data-toggle="tab">Misc</a>
    </li>
</ul>
<p class="

   ">@ViewBag.Greeting</p>
<div class="tab-content">
    <div class="tab-pane active" id="a">
        @{Html.RenderPartial("AutoManagers");}
    </div>
    <div class="tab-pane" id="b">
        <div class="jumbotron">
            <h4>Analytics</h4>
            <p> some other content</p>
        </div>
    </div>
    <div class="tab-pane" id="c">
        <p> Document Center</p>
        @{

            foreach (var item in MpiRepo.GetDocs("4"))
            {

                <div>
                    <a href="@Html.Raw(@Url.Content(item.DocumentLocation))">@item.DocumentDescription</a>
                </div>
            }
        }
    </div>
    <div class="tab-pane" id="d">
        Search
    </div>
    <div class="tab-pane" id="e">
        Misc
    </div>
</div>